<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Incognito Store Template</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Incognito</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Incognito Store</h1>
          <p class="lead mb-5 text-white-50">Unlock 15% Student Discount with Student Beans iD.

Use our  student discount code at the checkout to enjoy 15% off your order.

For instant access to this discount simply register and verify your student status with Student Beans. It's free!</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>For an extensive selection of professional supplies for Vynil Records, take your pick from the products and tools available from Capital. We stock a broad range of items manufactured by some of the leading brands. Choose American Crew by The Bluebeard’s Revenge TIGI. You’ll also find an array of essential equipment by brands such as Oster. If you’re searching for high-quality supplies, you’re sure to find what you need here. We have everything you need to run a successful shop.!</p>
        <p>Welcome!!.</p>
        <a class="btn btn-primary btn-lg" href="#">click here for more &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Incongnito LTD</strong>
          <br>3481 Drumcondra
          <br>Dublin Ireland
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Bagde 1</h4>
            <p class="card-text">"I started working in a record store just in 1972 and my life changed. I also discovered we had the ability to change our customers lives each time they came in the door. Music is the ultimate enhancer to people's lives. Turning some one on to something they had not ever heard before that hits a nerve, can make someone's day and leave a permanent impression. It's important for music fans to support their local record stores regularly, not only to help record stores stay heathy, but for their own well being. RSD is great day to come out and celebrate what record stores have been to our lives....to celebrate vinyl, the single greatest invention ever.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Our Services</h4>
            <p class="card-text">“Independent record stores are much more than the name suggests. They are an international community and platform where music has an outlet and an opportunity to grow over the long term, in a way that sincerely connects with community and culture. They are also a magnificent mob of highly opinionated musical bandits which I am proud to call my pals! Bill, keep that indian ring shining for me. Matt, I'LL meet you in the morning for breakfast. John, we'll always have paris. Rhino.....straight outta Claremont!”.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Our Praducts</h4>
            <p class="card-text">"The fact still remains that the record industry is constantly changing with new advances in multimedia and internet access for downloading music. With that being said,

it is imperative that independent retailers continue to thrive so that people can still walk into a record store and buy CDs. GO INDIE OR GO HOME!".</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
